@charset "utf-8";

@font-face {
    font-family: "NotoSerifKR-ExtraLight";
    src: url("../font/NotoSerifKR-ExtraLight.otf");

}

@font-face {
    font-family: "NotoSerifKR-Light";
    src: url("../font/NotoSerifKR-Light.otf");

}

@font-face {
    font-family: "NotoSerifKR-Medium";
    src: url("../font/NotoSerifKR-Medium.otf");

}

@font-face {
    font-family: "NotoSerifKR-Regular";
    src: url("../font/NotoSerifKR-Regular.otf");

}

@font-face {
    font-family: "NotoSerifKR-SemiBold";
    src: url("../font/NotoSerifKR-SemiBold.otf");

}

@font-face {
    font-family: "NotoSerifKR-Bold";
    src: url("../font/NotoSerifKR-Bold.otf");

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "NotoSerifKR-Regular";

}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    color: #333;
    -ms-overflow-style: none;
    background-color: #c8c8c8;


}


::-webkit-scrollbar {
    display: none;
}



a {
    text-decoration: none;
    color: inherit;
    display: block;
}

ul,
li {
    list-style: none;
}

img {
    display: block;
}



/* header */
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all 0.4s ease;
}

.header_wrap {
    width: 90%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

/* logo */
.navbar_logo {
    width: 30%;
    display: flex;
    align-items: center;
}

.navbar_logo img {
    width: 60%;
    margin: 0 auto;

}


/* common_menu */
.header_wrap .list {
    display: flex;
    line-height: 15vh;
}

.header_wrap .list li {
    padding: 0 2vw;
    font-size: 15px;
    color: #fff;
}


/* togglebtn */
.navbar_togglebtn i {
    position: absolute;
    line-height: 15vh;
    cursor: pointer;
}

.fa-bars {
    font-size: 25px;
}

.fa-xmark {
    z-index: 9;
    font-size: 25px;
    color: #333;
}



/* gnb */
.gnb {
    width: 100%;
    height: 100vh;
    background-color: #e3e3e3;
    position: absolute;
    top: 0;
    display: none;
}

.gnb_wrap {
    width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    margin-top: 10vh;

}

.gnb_wrap .gnb_box {
    text-align: center;
}

.gnb_wrap .gnb_box .menu {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
}

.gnb_wrap .gnb_box .menu a {
    background-color: #b6b6b6;
    display: inline-block;
    padding: 1vh 3vw;
    border-radius: 10px;
    border: 2px solid #b6b6b6;
    transition: .2s ease;
}

.gnb_wrap .gnb_box .menu p {
    font-size: 18px;
}


.gnb_wrap .gnb_box .menu a:hover {
    background: none;
    border: 2px solid #b6b6b6;
    transition: all .2s ease;
}

.gnb_wrap .gnb_box .submenu {
    width: 100%;
    margin-top: 5vh;
}


.gnb_wrap .gnb_box .submenu ul {
    width: 100%;

}


.gnb_wrap .gnb_box .submenu li {
    font-size: 18px;
    padding: 4vh 0;
    transition: all .2s ease;
}


.gnb_wrap .gnb_box .submenu li:hover {
    font-size: 18px;
    transition: all .2s ease;
    color: #777777;
}










/* main */
main {
    margin-top: 10vh;
    width: 100%;
    height: 80vh;
}


.warning_icon {
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 15vh;
}

.fa-circle-exclamation {
    color: #060f2b;
    font-size: 100px;
}



.warning_text {
    width: 100%;
    text-align: center;
    color: #060f2b;
}


.warning_text h4 {
    font-size: 25px;
    padding: 5vh;
}


.warning_text p {
    font-size: 16px;
    line-height: 4vh;
}








/*footer*/
footer {
    width: 100%;
    height: auto;
    background-color: #060f2b;
    color: #fff;
}



.footer_top_wrap {
    width: 100%;
    height: auto;
    font-size: calc(0.56vw + 4px);
    margin-bottom: 3vh;
}

.footer_top_top ul {
    display: flex;
    width: 35%;
    justify-content: space-between;
    padding: 5vh 3vw;
}

.footer_top_top li {
    cursor: pointer;
    opacity: 65%;
}

.footer_top_top li:hover {
    opacity: 100%;
}

.footer_top_bt {
    display: flex;
    width: 100%;
}

.footer_top_bt_left {
    width: 70%;
}

.footer_top_bt_left ul {
    display: flex;
}

.footer_top_bt_left ul:nth-child(1) {
    width: 90%;
    justify-content: space-between;
    padding: 2vh 3vw;
}



.footer_top_bt_left ul:nth-child(2) {
    padding: 0 3vw;
    width: 60%;
    justify-content: space-between;
}

.footer_top_bt_left ul:nth-child(3) {
    padding: 2vh 3vw;
    width: 60%;
    justify-content: space-between;
}

.footer_top_bt_right {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer_top_bt_right .icons {
    display: flex;


}

.footer_top_bt_right .icons li {
    font-size: calc(0.56vw + 14px);
    padding: 0 1vw;
    cursor: pointer;
    opacity: 60%;
}

.footer_top_bt_right .icons li:hover {
    opacity: 100%;
}

.footer_top_bt_right .icons li:nth-child(1) {
    padding-left: 0;
}

.footer_bt_wrap {
    border-top: 1px solid #fff;
    text-align: center;
    padding: 2vh 0;
    font-size: calc(0.56vw + 2px);

}
